* {font-family: Arial, Helvetica, sans-serif, generic;
   font-size: 13px}

h1 {font-family: Arial, Helvetica, sans-serif, generic;
    font-weight: bold;
    font-size: 26px;
    text-align: center}

h2 {font-family: Arial, Helvetica, sans-serif, generic;
    font-weight: bold;
    text-align: center}

h3 {font-family: Arial, Helvetica, sans-serif, generic;
    font-weight: bold;
    text-align: center}

body {font-family: Arial, Helvetica, sans-serif, generic;
      background-color: white;
      color: black;
      text-align: center}

p {font-family: Arial, Helvetica, sans-serif, generic;
   text-align: center}

p.Update {color: black;
          font-weight: bold;
          text-align: center}

p.Text {text-align: left}

div {font-family: Arial, Helvetica, sans-serif, generic;
       font-size: 15px;
       font-weight: bold;
       text-align: center}

.iconlarge {
      border: none;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
}

.iconsmall {
    border: none;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.screenshot {
   margin-left: auto; 
   margin-right: auto; 
   text-align: center;
   border: 0px;
}
      
.iconsmallcenter {
    border: none;
    float: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

img {border: none; }

.ImageBorder
{
    border-width: 1px;
    border-color: black;
}

span {font-family: Arial, Helvetica, sans-serif, generic;}

span.TopLink {font-family: Arial, Helvetica, sans-serif, generic; font-size: -1;}

span.Code {font-family: monospace, generic;
           font-size: 14px;
           color: black}

span.Current {color: #00CC00}

span.Beta {color: red}

span.Update {color: black;
             font-weight: bold;
             text-align: center}

span.Quote {color: #990000;
                    font-size: 15px;
                    font-size: inherit}

table {font-family: Arial, Helvetica, sans-serif, generic;
       table-layout: fixed}

table.Auto {table-layout: auto}

table.NavLogo {width: 100%;
               table-layout: auto;
               border: none;}

table.DistroWatch {width: 100%;
                   table-layout: auto;
                   background-color: #f6edc8;
                   border: 2px silver groove}

table.qxwrv {width: 100%;
               table-layout: auto;
               border: none;}

table.News {width: 100%;
            text-align: left;
            table-layout: auto;
            vertical-align: top;
            border: none}

table.Summary {width: 100%;
               text-align: center;
               vertical-align: middle;
               table-layout: auto;
               height: 45px;
               border: none}

table.Info {text-align: center;
            table-layout: auto;
            width: 100%}

th {font-family: Arial, Helvetica, sans-serif, generic;
     font-weight: normal;
     text-align: left;
     table-layout: auto;
     border: 1px #666666 solid;
     white-space: nowrap}

th.News {font-weight: bold;
         text-align: center;
         width: 12%;
         vertical-align: middle;
         background-color: #f6edc8;}

th.phr1 {font-weight: bold;
         text-align: center;
         width: 12%;
         vertical-align: middle;
         background-color: #f6edc8;}

th.NavMenu {text-align: left;
           width: 20%;
           vertical-align: middle;
           background-color: #fdffe3;
           border: 2px solid silver;
           padding-left: 6px}

th.NavMenuRTL {text-align: right;
            width: 12%;
            vertical-align: middle;
            border: 1px solid #C0C0C0;
            padding-left: 6px;
            background-color: #fdffe3}

th.Invert {font-weight: bold;
           background-color: #0B3B24;
           color: white;
           width: 100%;
           text-align: center}

th.vyayfdu {font-weight: bold;
           background-color: #0B3B24;
           color: white;
           width: 100%;
           text-align: center}

th.TablesInvert {font-weight: bold;
                 background-color: #0B3B24;
                 color: white;
                 text-align: center;
                 width: 11em;}

th.TablesIcon {font-weight: bold;
               text-align: center;
               width: 11em;}

th.Info {font-weight: bold;
        width: 20%}

td {font-family: Arial, Helvetica, sans-serif, generic;
    font-weight: normal;
    table-layout: auto;
    border: 1px #666666 solid;
    margin: 2px 2px}

td.Invert {font-weight: bold;
           background-color: #0B3B24;
           color: white;
           width: 100%;
           text-align: center}

td.TablesInvert {font-weight: bold;
                 background-color: #0B3B24;
                 color: white;
                 text-align: center;
                 width: 6em}

td.Note {width: 100%}

td.NoBorder {width: 100%;
             border: none;
             background-color: #fdffe3}

td.News {width: 88%;
         background-color: #f6edc8}

td.News1 {width: 88%;
          background-color: #fdffe3}

td.phr2 {width: 70%;
         background-color: #f6edc8;
         text-align: left;
         vertical-align: middle}

td.phr3 {width: 18%;
         background-color: #f6edc8;
         text-align: right;
         vertical-align: middle}

td.cyteexr {width: 88%;
           background-color: #fdffe2}

td.pqaavr {width: 88%;
          background-color: #fdffe2;
          border: none;
          text-align: center}

td.NewsDate {font-weight: bold;
             background-color: #f6edc8;
             color: #003300;
             text-align: center;
             width: 25%}

td.NewsHeadline {font-weight: bold;
                 background-color: #f6edc8;
                 color: #003300;
                 text-align: center;
                 width: 75%}

td.NewsLogo {background-color: #fdffe3;
                    vertical-align: middle;
                    text-align: center;
                    width: 25%;
                    margin-top: 2px;
                    margin-right: 2px;
                    margin-bottom: 2px;
                    margin-left: 2px;
                    padding-top: 0px;
                    padding-right: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    border-top-width: 0px;
                    border-right-width: 0px;
                    border-bottom-width: 0px;
                    border-left-width: 0px}

td.NewsText {background-color: #fdffe3;
            vertical-align: top;
            font-size: 14px;
            width: 75%;
            margin-top: 2px;
            margin-right: 2px;
            margin-bottom: 2px;
            margin-left: 2px;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px}

td.List {width: 100%;
         padding-left: 6px;
         background-color: #f6edc8}

td.Summary {text-align: center;
            width: 8%;
            height: 30px;
            vertical-align: middle}

td.Introduction {background-color: #fdffe3;
                text-align: center;
                width: 100%}

td.Introduction1 {background-color: #f6edc8;
                text-align: center;
                width: 100%}

td.Logo {font-weight: bold;
         text-align: center;
         width: 6%}

td.qxwrv {font-weight: bold;
            text-align: center;
            border: none;
            width: 100%}

td.TableMediumLogo {font-weight: bold;
                   text-align: center;
                   width: 10%;
                   height: 30px;
                   margin-top: 2px;
                   margin-right: 2px;
                   margin-bottom: 2px;
                   margin-left: 2px;
                   padding-top: 2px;
                   padding-right: 2px;
                   padding-bottom: 2px;
                   padding-left: 2px}

td.Current {color: #00cc00}

td.Beta {color: red}

td.Info {width: 80%}

td.Question {font-weight: bold;
            width: 100%;
            color: #603b0b;
            background-color: #fdffe3;
            padding-top: 6px;
            padding-right: 6px;
            padding-bottom: 6px;
            padding-left: 6px}

td.Answer {width: 100%;
          background-color: #fdffe3;
          padding-top: 6px;
          padding-right: 6px;
          padding-bottom: 6px;
          padding-left: 6px}

td.rTitle {font-family: Arial, Helvetica, sans-serif, generic;
           font-weight: bold;
           width: 100%;
           color: #603b0b;
           font-size: 150%;
           text-align: center;
           background-color: #f6edc8;
           padding-top: 1px;
           padding-right: 6px;
           padding-bottom: 1px;
           padding-left: 6px}

td.rTitle2 {font-weight: bold;
           width: 100%;
           color: #603b0b;
           background-color: #f6edc8;
           padding-top: 1px;
           padding-right: 6px;
           padding-bottom: 1px;
           padding-left: 6px}

td.rTitle3 {font-weight: bold;
           width: 100%;
           color: #A52A2A;
           background-color: #f6edc8;
           padding-top: 1px;
           padding-right: 6px;
           padding-bottom: 1px;
           padding-left: 6px}

td.rStory {width: 100%;
          background-color: #fdffe3;
          font-size: 15px;
          margin-top: 2px;
          margin-right: 2px;
          margin-bottom: 2px;
          margin-left: 2px;
          border-top-width: 0px;
          border-right-width: 0px;
          border-bottom-width: 0px;
          border-left-width: 0px;
          padding-top: 6px;
          padding-right: 6px;
          padding-bottom: 6px;
          padding-left: 6px}

td.rStory2 {width: 100%;
          background-color: #fdffe3;
          font-size: 15px;
          margin-top: 2px;
          margin-right: 2px;
          margin-bottom: 2px;
          margin-left: 2px;
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px;
          padding-top: 6px;
          padding-right: 6px;
          padding-bottom: 6px;
          padding-left: 6px}

.Background {background-color: #fdffe3}

input {background-color: #fdffe3;
       color: #0000CC;
       vertical-align: middle}

ul {font-size: inherit ! important}
ol {font-size: inherit ! important}
li {font-size: inherit ! important}
b {font-size: inherit ! important}
a {font-size: inherit ! important}
i {font-size: inherit ! important}
em {font-size: inherit ! important}
u {font-size: inherit ! important}
blockquote {font-size: inherit ! important; font-family: Andale Mono}
a:hover {text-decoration: underline;
         color: #194775;
         font-size: inherit}
